.btn-primary {
    border: none !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
    border-radius: 30px !important;
}
.modal-content  {
    border-radius: 35px !important;
    border-width: 0px !important;
    box-shadow: 0px 0px 50px 3px #ffffff17;
    background-color: #532443 !important;
}
.modal-body  {
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    background-color: #532443 !important;
}
.modal-header {
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.form-check {
    padding-top: 2.5%;
}
.form-check-input[type='checkbox']:checked {
    background-color: rgb(64, 12, 47) !important;
    border-color: rgb(64, 12, 47) !important;

}
.form-check-label {
    color: rgb(255, 255, 255) !important;
    font-size: 110%;
    font-weight: 590;
}
.btn-close {
    color:rgba(255, 255, 255, 0) !important;
    background: transparent url("../../images/cross.png") center/1em !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 20% !important;
}